@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: url('https://res.cloudinary.com/drxcwjltk/image/upload/v1743456494/geminiWall.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh; /* กำหนดให้เต็มจอ */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1; /* ทำให้คอนเทนต์หลักขยายเต็มที่ */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}